* , ::after, ::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: rgb(172, 162, 162);
  text-transform: uppercase;
}

/* h3
{
  font-size: 1.8rem;
} */

h1, .roll, .hold
{
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
}

h1, .roll
{
  padding-top: 5px;
}

i
{
  color: crimson;
}

.player1, .player2,.dice
{
  width: 100vw;
  margin: 5px 0;
}

.player
{
  height: 30vh;
  width: 100vw;
}

.player1
{
  background-color: rgb(226, 224, 222);
}

.player2
{
  background-color: rgb(243, 230, 217);
}

.player-container
{
  position: relative;
}

#round-player1, #round-player2
{
  margin-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.0rem;
}

.hide
{
  display: none;
}

.total-points
{
  font-size: 2.5rem;
  color: crimson;
}

.round-points
{
  width: 120px;
  height: 60px;
  background-color: crimson;
  color: #f1f1f1;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 70px;
}

.current
{
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.points
{
  font-size: 1rem;
}

.show-dice
{
  border-radius: 10px;
  box-shadow: 3px 4px 6px rgb(78, 81, 83);
  text-align: center;
  line-height: 55px;
  font-size: 56px;
  margin: 20px auto;
}

.rules
{
  position: fixed;
  bottom: 5px;
  right: 15px;
  font-size: 1.5rem;
}